// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-at-startup "noctalia" "--daemon"
    spawn-sh-at-startup "~/.config/niri/scripts/wallpaper.sh"
    spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
