---
- name: Setup Dotfiles
  hosts: localhost
  vars_files: ansible/variables/packages.yaml
  tasks:
    - name: Ensure the Arch Linux keyring is up to date
      ansible.builtin.pacman:
        name: archlinux-keyring
        state: latest

    - name: Install core packages
      become: true
      tags: core
      ansible.builtin.package:
        name: "{{ packages }}"
        state: present

    - name: Run stow
      become: false
      tags: stow
      shell: "stow . --target {{ ansible_env.HOME }} --verbose=2"
      register: result
      changed_when: "'LINK:' in result.stderr"

    - name: Enable bluetoothd service
      become: true
      tags: services
      ansible.builtin.systemd:
        name: bluetooth
        enabled: true
        state: started

    - name: Enable Syncthing service for the user
      become: false
      tags: services
      ansible.builtin.systemd:
        name: syncthing
        enabled: true
        state: started
        scope: user

    - name: Enable docker daemon
      become: true
      tags: services
      ansible.builtin.systemd:
        name: docker
        enabled: true
        state: started

    - name: Set the shell for the user
      become: true
      user:
        name: user
        shell: /usr/bin/zsh

    - name: Ensure docker group exists
      become: true
      ansible.builtin.group:
        name: docker

    - name: Add user to docker group
      become: true
      ansible.builtin.user:
        name: user
        groups: docker
        append: true
