! Adjusting the font
xterm*faceName: Monospace
xterm*faceSize: 11
 
xterm*background: #000000
xterm*foreground: #FFFFFF

XTerm.vt100.locale: true

xterm*scrollBar: true
xterm*rightScrollBar:true
 
xterm*scrollTtyOutput: false
xterm*selectToClipboard: true

xterm*vt100.translations: #override \n\
 Shift <Key>Home: scroll-forw(10000000000) \n\
 Shift <Key>End: scroll-back(10000000000)
