layout {

    focus-ring {
        active-color   "#a4cbed"
        inactive-color "#121416"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a4cbed"
        inactive-color "#121416"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a4cbed"
        inactive-color "#224b68"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a4cbed80"
    }
}

recent-windows {
    highlight {
        active-color "#a4cbed"
        urgent-color "#ffb4ab"
    }
}
